#page {
height: 310px;
background-color: $colorGray;
  
   h1 {
   	color: white;
   	font-size: 48px;
   	padding-left: 12px;
   	letter-spacing: 1px;
   }
   p{
   	color: white;
   	letter-spacing: 2px;
   	font-size: 13px;
   }
   .padding{
   	padding-top: 93px;
   }

}