#homme {

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 1970px;
      height: 750px;
      margin: auto;


  }
  h1{
   font-size: 48px;
  }
  p{
   font-size: 14px;
  }


}
#clients{
    .box{
   border: 1px solid red;
   height: 465px;
   background-color: $color;
 }

}



