#portfolio{
   .qutu{
      border:1px solid red;
    height: 900px;
   }
   .marg{
   margin-left: 26px;
}
.mR{
   margin-right: -12px;
}
.padding{
padding-top:180px;
}
.qutu2{
	border: 8px solid $colorDarkGray;
	background-color: $color;
	height:260px;
	width:260px;
	 background-image: url("../image/h.jpg");
   background-size: 260px 260px;
    background-repeat: no-repeat;
}
.qutu3{
	margin-top: 30px;
	height:260px;
	width:260px;
	background-color: $colorDarkGray;
	 background-image: url("../image/h.jpg");
   background-size: 260px 260px;
    background-repeat: no-repeat;
}
.qutu4{
	margin-top: 30px;
	height:212px;
	width:260px;
	background-color: $colorDarkGray;
	 background-image: url("../image/h1.jpg");
   background-size: 212px 270px;
    background-repeat: no-repeat;
}
.qutu5{
	width:258px;
	height:395px;
	background-color: $colorDarkGray;
	 background-image: url("../image/h3.jpg");
   background-size: 258px 395px;
    background-repeat: no-repeat;
}
.qutu6{
	margin-top:30px;
	width: 258px;
	height:150px;
	background-color:$colorDarkGray;
    background-image: url("../image/h4.jpg");
   background-size: 258px 150px;
    background-repeat: no-repeat;
}
.qutu7{
	margin-top:30px;
	width: 258px;
	height:171px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h.jpg");
   background-size: 258px 171px;
    background-repeat: no-repeat;
}
.qutu8{
	margin-top:30px;
	width: 258px;
	height:171px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h3.jpg");
   background-size: 258px 171px;
    background-repeat: no-repeat;
}
.qutu9{
	width: 258px;
	height:193px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h4.jpg");
   background-size: 258px 193px;
    background-repeat: no-repeat;
}
.qutu10{
	margin-top:30px;
	width: 258px;
	height:393px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h1.jpg");
   background-size: 258px 393px;
    background-repeat: no-repeat;
}
.qutu11{
	margin-top:30px;
	width: 258px;
	height:367px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h.jpg");
   background-size: 258px 367px;
    background-repeat: no-repeat;
}
.qutu12{
	
	width: 258px;
	height:327px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h4.jpg");
   background-size: 258px 327px;
    background-repeat: no-repeat;
}
.qutu13{
	margin-top:30px;
	width: 258px;
	height:327px;
	background-color:$colorDarkGray;
	 background-image: url("../image/h.jpg");
   background-size: 258px 327px;
    background-repeat: no-repeat;
}

}
#portfolio{
	h3, p{
		padding-left:60px;
	}
}