body {
  font-family: tahoma; }

/*header baslayir*/
#header {
  height: 50px;
  background-color: #e5eef0; }
  #header .premium {
    padding-top: 18px;
    font-size: 12px;
    padding-left: 6px;
    letter-spacing: 1px;
    color: #9facb2; }

/*header qurtarir*/
/*banner baslayir*/
#banner {
  height: 76px;
  background-color: #ffffff; }
  #banner a {
    color: #8D8D8D; }
  #banner a:hover {
    background-color: #29c2e1;
    border-radius: 35px;
    color: #ffffff; }

.paddingTop {
  padding-top: 12px; }

.marginCon {
  margin-left: 30px; }

.marginMenu {
  margin-right: 10px; }

.marginMenu1 {
  margin-right: 9px; }

.marginMenu3 {
  margin-right: 10px; }

.marginMenu4 {
  margin-right: 20px; }

.marginMenu5 {
  margin-right: 35px; }

#banner img {
  margin-left: -22px;
  padding-bottom: 10px; }

/*banner qurtarir*/
/*   about baslayir*/
#about {
  height: 310px;
  background-color: #8D8D8D; }
  #about h1 {
    color: white;
    font-size: 48px;
    padding-left: 12px;
    letter-spacing: 1px; }
  #about p {
    color: white;
    letter-spacing: 2px;
    font-size: 13px; }
  #about .padding {
    padding-top: 93px; }

/*about qurtarir*/
/* what we are baslayir*/
#whatWeAre {
  height: 491px;
  background-color: #ffffff; }
  #whatWeAre .paddingTop {
    padding-top: 76px;
    padding-left: 12px; }
  #whatWeAre .paddingTop2 {
    padding-top: 185px;
    padding-left: 45px; }
  #whatWeAre h1 {
    font-size: 30px; }
  #whatWeAre h4 {
    font-size: 15px;
    letter-spacing: 1px; }
  #whatWeAre .space {
    margin-top: 8px; }

/*what we are qurtarir*/
/*					funFact baslayir*/
#funFact {
  height: 217px;
  background-color: #ffffff; }
  #funFact img {
    padding-top: 75px;
    padding-left: 23px; }
  #funFact p {
    float: right;
    padding-top: 125px;
    padding-left: 10px; }
  #funFact h1 {
    float: right;
    padding-top: 50px;
    margin-left: -149px;
    font-size: 60px; }

/*	funFact qurtarir*/
/*team baslayir*/
#team {
  height: 672px;
  background-color: #e5eef0; }
  #team h4, #team p {
    padding-left: 30px; }
  #team .paddingTop {
    padding-top: 78px; }

/*team qurtarir*/
/*features baslayir*/
#features {
  height: 669px;
  background-color: #ffffff; }
  #features h2 {
    padding-top: 78px; }
  #features .paddingTop {
    padding-top: 50px;
    padding-left: 13px; }
  #features .button {
    width: 162px;
    height: 39px;
    border-radius: 50px;
    background-color: #29c2e1;
    color: #ffffff;
    border: none;
    padding: 0px;
    margin: 0px; }
  #features .button:hover {
    background-color: #29c2e1; }
  #features p {
    padding-top: 95px;
    padding-left: 500px; }
  #features .xett {
    padding-top: 68px; }

/*features baslayir*/
/*oneMonth baslayir*/
#oneMonth {
  height: 313px;
  background-color: #ffffff; }
  #oneMonth h2, #oneMonth h6 {
    text-align: center; }
  #oneMonth span {
    color: #F69B37; }
  #oneMonth .paddingTop {
    padding-top: 85px; }
  #oneMonth .button1 {
    width: 150px;
    height: 39px;
    border-radius: 50px;
    background-color: #29c2e1;
    color: #ffffff;
    border: none;
    padding: 0px;
    margin: 0px; }
  #oneMonth .button1:hover {
    background-color: #29c2e1; }
  #oneMonth .button2 {
    width: 150px;
    height: 39px;
    border-radius: 50px;
    background-color: #F69B37;
    color: #ffffff;
    border: none;
    padding: 0px;
    margin: 0px; }
  #oneMonth .button2:hover {
    background-color: #F69B37; }
  #oneMonth .centerButton {
    padding-left: 410px;
    padding-top: 20px; }
  #oneMonth h6 {
    text-transform: uppercase; }
  #oneMonth .padBut {
    padding-left: 10px; }
  #oneMonth .xett {
    padding-top: 71px; }

/*oneMonth qurtarir*/
/*footer baslayir/*/
#footer {
  height: 420px;
  background-color: #ffffff; }
  #footer form input {
    font-size: 11px;
    padding-left: 13px; }
  #footer .box {
    border: 1px solid red; }
  #footer .xett {
    padding-top: 20px; }
  #footer p {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px; }
  #footer img {
    padding-top: 74px;
    padding-left: 86px; }
  #footer .menu {
    padding-top: 60px;
    padding-left: 80px; }
  #footer .menu h6 {
    letter-spacing: 1px;
    color: #d4d9dc; }
  #footer .service h6 {
    padding-top: 8px;
    padding-left: 20px; }
  #footer .service {
    padding-top: 94px;
    padding-left: 30px;
    color: #d4d9dc; }
  #footer .service i {
    letter-spacing: 8px; }
  #footer .news {
    padding-top: 60px;
    padding-left: 20px; }
    #footer .news h6 {
      color: #d4d9dc; }
  #footer .contact {
    padding-top: 63px;
    padding-left: 20px; }
    #footer .contact span {
      color: #d4d9dc; }
    #footer .contact h6 {
      padding-top: 8px;
      letter-spacing: 1px; }
  #footer .search {
    width: 300px;
    height: 100px; }
  #footer .search form input:first-child {
    width: 225px;
    height: 35px;
    border: 1px solid gray; }
  #footer .button {
    width: 40px;
    height: 35px;
    background-color: #29c2e1;
    border: none;
    padding: 0px;
    margin: 0px; }
  #footer .solUcbucaq {
    width: 0px;
    height: 0px;
    float: left;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #F69B37;
    border-right: 200px solid transparent;
    position: relative;
    bottom: 245px; }
  #footer .sagUcbucaq {
    width: 0px;
    height: 0px;
    float: left;
    border-top: 100px solid transparent;
    border-bottom: 00px solid transparent;
    border-right: 225px solid #29c2e1;
    border-left: 200px solid transparent;
    position: relative;
    bottom: 50px;
    right: -720px; }

/*footer qurtarir*/
#page {
  height: 310px;
  background-color: #8D8D8D; }
  #page h1 {
    color: white;
    font-size: 48px;
    padding-left: 12px;
    letter-spacing: 1px; }
  #page p {
    color: white;
    letter-spacing: 2px;
    font-size: 13px; }
  #page .padding {
    padding-top: 93px; }

#map .box {
  width: 1145px;
  height: 419px;
  background-color: #ffffff; }
#map h1 {
  padding-top: 85px;
  font-size: 30px;
  padding-left: 10px; }
#map h5 {
  padding-left: 10px;
  font-size: 18px; }
#map .right {
  margin-left: 25px;
  margin-top: 7px; }
#map iframe {
  width: 1145px;
  height: 419px;
  margin-left: -15px;
  margin-top: -3px; }

#contact1 .bor {
  margin-left: 13px;
  width: 1145px;
  height: 300px; }
#contact1 .box {
  height: 300px; }
#contact1 .centerGo {
  text-align: center; }
#contact1 i {
  padding-top: 80px; }
#contact1 h6 {
  text-transform: uppercase; }
#contact1 img {
  padding-left: 150px; }

#commentPlace .paddingTopp {
  padding-top: 40px;
  padding-bottom: 10px; }
#commentPlace input {
  width: 550px;
  height: 50px;
  background-color: #E3EEF0;
  font-size: 13px; }
#commentPlace textarea {
  background-color: #E3EEF0; }
#commentPlace .button {
  width: 145px;
  height: 39px;
  border-radius: 50px;
  background-color: #29c2e1;
  color: #ffffff;
  border: none;
  padding: 0px;
  margin: 0px; }
#commentPlace .button:hover {
  background-color: blue; }
#commentPlace h3 {
  font-size: 25px; }

.top2 {
  padding-top: 50px;
  padding-bottom: 25px; }

.left2 {
  padding-left: 200px; }

.top3 {
  padding-top: 23px; }

/*# sourceMappingURL=style.css.map */
